<div class="create-account container">

<h1>Welcome to SeatYourself!</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.text_field :name, placeholder: "name" %> </br>
</div>

<div class="field">
  <%= f.text_field :email, placeholder: "email" %> </br>
</div>

<div class="field">
  <%= f.text_field :password, placeholder: "password" %> </br>
</div>

<div class="field">
  <%= f.text_field :password_confirmation, placeholder: "confirmation" %> </br>
</div>

  <%= f.submit "Create Account", class: "submit"%>

<% end %>

<div class="back">
  <%= link_to 'Back', restaurants_path %>
</div>

</div>
