<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p></br>
  <p><%= restaurant.picture %></p></br>
  <p><%= restaurant.description %></p></br>
  <p><%= restaurant.address %></p></br>
  <p><%= restaurant.phone %></p>
<% end %>
