<div class="title container">
  <h1>Restaurants</h1>
</div>

<div class="container">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant">
      <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p></br>
      <p><%= restaurant.picture %></p></br>
      <p class="bold"><%= restaurant.address %>, <%= restaurant.phone %></p>
      <p><%= restaurant.description %></p></br>
    </div>
  <% end %>
</div>
