<div class="restaurant-header container-fluid">
  <img src="<%= @restaurant.picture %>" height="150" width="150">
  <h3><%= @restaurant.name %></h3>
</div>

<div class="reservation container">
  <p><% if current_user %>
  <%= link_to 'Make a Reservation Here!', new_restaurant_reservation_path(@restaurant) %>
  <% end %></p>
</div>

<div class="about container">
  <h4>About <%= @restaurant.name %></h4>
  <p>Address: <%= @restaurant.address %>, <%= @restaurant.phone %></p>
  <p><%= @restaurant.description %></p>
</div>

<div class="nearby container">
  <h4>Nearby Restaurants</h4>
  <ol>
    <% @nearby_restaurants.each do |restaurant| %>
      <li>
        <p><%= restaurant.name %></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.display_distance_to(@restaurant) %> km away</p>
      </li>
      <% end %>
  </ol>
</div>
<%= link_to 'Back', restaurants_path %>
