<div class="restaurant-header container-fluid">
  <img src="<%= @restaurant.picture %>" height="150" width="150">
  <h3><%= @restaurant.name %></h3>
</div>

<div class="reservation container">
  <p><% if current_user %>
  <%= link_to 'Make a Reservation Here!', new_restaurant_reservation_path(@restaurant) %>
  <% end %></p>
</div>

<div class ="about container">
  <h4>About <%= @restaurant.name %></h4>
  <p>Address: <%= @restaurant.address %>, <%= @restaurant.phone %></p>
  <p><%= @restaurant.description %></p>
</div>

<%= link_to 'Back', restaurants_path %>
