<div class="restaurant-header container-fluid">
  <img src="<%= @restaurant.picture %>" height="150" width="150">
  <h3><%= @restaurant.name %></h3>
</div>

<div class="reservation container">
  <p><% if current_user %>
      <%= link_to 'Make a Reservation Here!', new_restaurant_reservation_path(@restaurant) %>
      <%= form_for [@restaurant, @reservation] do  %>
        <h3>Make a Reservation Here!</h3>
          <%= fields_for :reservations do |reservation_form| %>

          <%= reservation_form.label :date_and_time %>:
          <%= reservation_form.datetime_select :date_and_time %> </br>

          <%= reservation_form.label :party_size %>:
          <%= reservation_form.number_field :party_size %> </br>

          <%= reservation_form.submit %>
        <% end %>
      <% end %>
     <% else %>
       <%= link_to 'Sign up to make a reservation', new_user_path %> </br>
       <%= link_to 'or Back to restaurants', restaurants_path %>
  
    <% end %>
  </p>
</div>

<div class="about container">
  <h4>About <%= @restaurant.name %></h4>
  <p><%= @restaurant.address %>, <%= @restaurant.phone %></p>
  <p><%= @restaurant.description %></p>

  <div id="map" data-name="<%= @restaurant.name %>" data-latitude="<%= @restaurant.latitude %>", data-longitude="<%= @restaurant.longitude %>">
  </div>


</div>


<div class="nearby container">
  <h4>Nearby Restaurants</h4>
  <ol>
    <% @nearby_restaurants.each do |restaurant| %>
      <li>
        <p><em><%= link_to restaurant.name, restaurants_path(@restaurant) %></em>, <%= restaurant.address %> <%= restaurant.display_distance_to(@restaurant) %> km away</p>
      </li>
      <% end %>
  </ol>
</div>
